  @import url(./root.css);
.contenedor{
  display: flex;
  flex-direction: column;
}
/*====================================================================== */
/* TODO:MENU----------------------- */
/*======================================================================= */
.contenedor nav{
  font-weight: bold;
  width: 100%;
  background-color: var(--colorUno);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.contenedor nav .barMenu{
    display: none;
}

.contenedor > nav > ul {
      display: flex;

}
.contenedor  nav li{
  font-size: 0.87rem;
    line-height: 35px;  /* altura del menu*/
    list-style: none;
    position: relative; /* TODO: PADRE  para que los subMenus salga de la maquetacion*/
    background-color: var(--colorUno);
}

.contenedor nav > ul > li{
  border-right: 1px solid var(--colorDos);
}


.contenedor nav > ul .activado > a{
  /* estilo para el active submenu  */
 background-color: #1b86a1;
}


.contenedor  nav li ul{
    position: absolute; /*TODO: HIJO  para que los subMenus salga de la maquetacion*/
    display: none;
}

.contenedor  nav a {
      text-decoration: none;
      color: #ffffff;
      padding: 0 15px;
      display: block;
      text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;

}

.contenedor  nav a:hover{
     background-color: var(--colorDos);

}



/* TODO:  Icono */
.contenedor nav ul li a .icono{
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;

}

.contenedor nav ul li  .icono.izquierda{
   margin-right: 10px;
   text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
}

 nav ul li  .icono.derecha{
  margin-left: 10px;
  text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
}

nav ul li  .icono.derecha2{
  display: none;
}




.contenedor  nav   .contAvatar{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

.contenedor .menuUsuario > li {
  border-left: 1px solid var(--colorDos);
}
.contenedor  nav  .menuUsuario  .icono.izquierda.estadoUser{
    background-image: url("./../img/icons/accept.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 3px;
    background-size: 17px 17px;

}
.contenedor  nav .contAvatar:hover{
     background-color: var(--colorDos);
}

.contenedor  nav .confUser{
  /* margin-top: 5PX; */
}

.contenedor  nav   .avatar{
  border-radius: 50%;
  /* background-size: 100% auto; */
  height: 50px;
  width: 50px;
  padding: 0px;
  border:2px solid #fff;
  display: block;
  margin-right: 10px;
}

/*  MENU segundo Nivel---------------------------*/

.contenedor nav li li{
  /* background-color: var(--colorTres); */
  width: 180px;
}

.contenedor nav li li a{

  background-color: var(--colorDos);
}
.contenedor nav li li a:hover{
  background-color: var(--colorTres);
}

/*====================================================================== */
/* TODO:CUERPO DEL PANEL----------------------- */
/*======================================================================= */
.contenedor .contenedorAdmin{

  width: 100%;

  margin-top:2px;
}

.contenedor .contenedorAdmin .headerTablet{
  /* border: 3px solid rgb(43, 119, 2); */
  display: none;
}

.contenedor .contenedorAdmin .contenido{
  height: 100vh;
  width: 100%;
  background:url(./../img/backgrounds/bodyBg.png) repeat #fff;
  /* padding: 10px; */
  padding-top: 34px;

}





/* TODO INICIO Grilla  (Sistema Grilla con CSS GRID)=============================== */
      .caja{
        margin: auto;
        padding-top: 20px;
        margin-left: 1%;
        margin-right:1%;
        font-size: 16px;  /*fuente padre formulario*/
      }


      .box-conten{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        /*  */
        grid-template-rows: ;
      }

      .box{
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5px;
        /* border: 1px solid #000; */
      }
      .box-conten .box:nth-child(3){
        /* height: 100%; */
        /* grid-column: 3/4; */
        /* grid-row: span 4; */
         /* margin: auto; */
         /* width: 100%; */
      }
      .row-4{
        grid-row: span 4;
      }

      .col-12{
        grid-column: span 12;
      }
      .col-11{
        grid-column: span 11;
      }
      .col-10{
        grid-column: span 10;
      }
      .col-9{
        grid-column: span 9;
      }
      .col-8{
        grid-column: span 8;
      }
      .col-7{
        grid-column: span 7;
      }
      .col-6{
        grid-column: span 6;
      }
      .col-5{
        grid-column: span 5;
      }
      .col-4{
        grid-column: span 4;
      }
      .col-3{
        grid-column: span 3;
      }
      .col-2{
        grid-column: span 2;
      }
      .col-1{
        grid-column: span 1;
      }


/* TODO FIN Grilla  (Sistema Grilla con CSS GRID)=============================== */



/* FORMULARIOS */

.box-formulario {
  border: 1px solid var(--bordeForm);
}

.box-formulario .cabeceraFormulario{
  display: flex;
  justify-content: space-between;
  background-color: var(--cabeceraForm);
  /* height: 36px; */
  border-bottom: 1px solid var(--bordeForm);

}
            .box-formulario .cabeceraFormulario .titulo{
              display: flex;
            }
            .box-formulario .cabeceraFormulario .titulo h5{
              text-shadow: 0 1px 0 #ffffff;
              font-size: 0.9rem;
              font-weight: bold;
              align-self: center;
            }
            .box-formulario .cabeceraFormulario .titulo .cont-icon{
              margin: 0px;
              border-right: 1px solid var(bordeForm);
              display: block;
              padding: 0.36rem  0.5rem;
            }
            .box-formulario .cabeceraFormulario .titulo .lineaDer{
              height: 100%;
              margin: 0px;
              border-right: 1px solid  var(--bordeForm);
              display: block;
              margin-right: 10px;
            }
            .box-formulario .cabeceraFormulario .titulo .icon{
              text-shadow: 0 1px 0 #ffffff;
              font-size: 1.3rem;
            }
            .box-formulario .cabeceraFormulario .cont-boton{
                padding-top: 2px;
            }
            .box-formulario .cabeceraFormulario .cont-boton .boton{
                margin-top: 2px;
                margin-bottom: 0px;
                padding: 3px 5px;
            }

            .box-formulario .cabeceraFormulario .cont-boton .boton:active{
                margin-bottom: 0px;
                padding: 4px 6px;

            }




.box-formulario .bodyFormulario{
  /* background-color: var(--contenidoForm); */
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
}

.box-formulario .pieFormulario{
  display: flex;
  border-top: 1px solid var(--bordeFormTopPie);
  background-color: #e5e5e5;
  height: 100%;
  justify-content: space-between;
  padding: 10px   0px;

}
.box-formulario .pieFormulario .cont-mensaje-pie {
  align-self: center;
  padding-right: 1%;
}
        .campoImportante{
          font-size: 1rem;
          color: rgb(223, 30, 30);
          text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
        }
        .box-formulario .pieFormulario .cont-botones-pie{
          margin-right: 5px;
          padding: 10px;
          align-self: center;
          display: flex;
        }
.input-important{
    position: relative;
}

.contenido label{
  margin-bottom: 0px;
  font-weight: 0px;
  font-size: 0.95em;
  width: 100%;
  margin: 0px;
  padding: 0px;
user-select: none;

}
.contenido input[type=text]{
    width: 100%;
    height: 20PX;
    font-size: 1rem;
    padding: 0.8rem 0.2rem;
    line-height: 0;
    background: #f5f5f5;
    border-radius: 2px;
    border: 1px solid var(--bordeForm);
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
}

.contenido input[type=text]:hover{
    background: rgba(109, 210, 247,0.4);
}

.contenido input[type=text]:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(17, 226, 255, 0.8), inset 0px 2px 3px rgba(17, 226, 255, 0.2);
    outline: none;
    color: var(--azulClaro);
    font-weight: bold;
    text-shadow: inset 0px 2px 3px rgba( 0,0,0,0.8);
}

.contenido input[type="text"]:disabled {
  background: #c4c4c4;
  font-style: italic;
  font-weight: bold;
  border: 1px solid var(--colorUno);
}

.asterisco{
      color: rgb(223, 30, 30);
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      font-size: 1rem;
      position: absolute;
      right: 5px;
      top:4px;
      user-select: none;
}

.contenido input[type=file]{
  display: none;
}

.content-buscar input[type=text]{
  background:rgba(1, 194, 245,0.3);
border: 1px solid rgb(144, 144, 144);
border-right: 0px;
}


.contenido .content-img-input{
        height: 100%;
        display: flex;
        justify-content: center;
        position:relative;
}
.contenido .content-img{
  width: 100%;
  margin: 10px 10px;
  border: 2px solid var(--bordeForm);
  background-color: var(--contenidoForm);
   border-style: dashed;
   border-radius: 5px;
   display: flex;
   justify-content: center;
}

.contenido .content-img img{
  height: 170px;
  width: 150px;
  border: 1px solid var(--bordeForm);
}
.contenido .content-input-file{
  position:absolute;
  bottom:-10px;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
  margin: 5px;
}


.contenido .content-input-file .nombre-imagen{
  padding: 3px 5px;
  background: #f5f5f5;
  border-radius: 15px 0px 0px 15px;
  border-top: 1px  solid var(--bordeForm);
  border-right: 0px;
  border-bottom: 1px  solid var(--bordeForm);
  border-right: 1px  solid var(--bordeForm);
  box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
  color: var(--azulClaro);
  font-weight:normal;
  font-style:italic;
  overflow:auto;
  width: 10rem;
  height: 2rem;

}

.contenido .content-input-file .btn-imagen{
  padding: 3px 5px;
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(181,181,181,1) 100%);
  border: 1px solid var(--bordeForm);
  border-radius: 0px 15px 15px 0px;
  text-shadow:0 1px 0 #ffffff;
}
      .contenido .content-input-file .btn-imagen:hover{
      background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(181,181,181,1) 100%);
        padding-right: 7px;
        font-size: 1rem;
        color: var(--azulClaro);
        cursor: pointer;
      }

      .contenido .content-input-file .btn-imagen:active{
      background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(181,181,181,1) 100%);
        padding-right: 5px;
        font-size: 0.98rem;
      }

      .contenido .content-input-file .btn-imagen .icon{
        font-size: 1.2rem;
        float: left;
        margin-top:2px;
        margin-right: 5px;
      }


/* TODO: INICIO --- BOTONES CRUD ======================================================*/
      .cont-boton-crud{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        padding: 5px 5px;
        border-radius: 8px;
        background-color: rgb(204, 204, 204);

      }


      .boton{
        /* background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(181,181,181,1) 100%); */
        background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(184,184,184,1) 68%, rgba(181,181,181,1) 70%, rgba(148,148,148,1) 100%);
        user-select: none;
        padding: 6px 8px;
        color: rgb(15, 15, 15);
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid var(--bordeForm);
        margin-right: 6px;
        margin-bottom: 5px;
        font-size: 1rem;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.68);

      }
      .boton .icon{
        font-size: 1.3rem;
        float: left;
        margin-left: 0px;
        font-size: red;
      }
      .boton >span{
        margin: 0px 0px;
        margin-left: 5px;

        /* display: none; */
      }

        .boton:hover{
        background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(204,204,204,1) 100%);
        cursor: pointer;
        color: var(--azulClaro);
        padding: 6px 8px;
        font-size: 17px;
        font-size: 1rem;
        }
        .boton:active{
        padding: 7px 8px;
        font-size: 1rem;
        border-bottom:1px solid rgb(255, 255, 255);
        margin-bottom: 0px;

        }
      .boton.disabled{
          background: var(--bordeForm);
          color: rgb(70, 65, 65);
          font-weight: normal;
          border: 1px solid rgb(209, 208, 208);
          border: 1px solid rgb(163, 162, 162);
          border-bottom: 1px solid rgb(255, 255, 255);
          font-size: 1rem;
          padding: 6px 8px;
          text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      }

        .content-buscar{
              display: flex;
        }
        .content-buscar >input{
              width: 50% !important;
              border-radius: 2px 0px 0px 2px !important;

        }

        .botonBuscarPor{
          display: flex;
          padding: 3px 5px;
          border: 1px solid rgb(122, 122, 122);
          font-size: 0.8rem;
          cursor: pointer;
          border-radius: 0rem 1rem 1rem 0rem;
          font-weight: bold;
          text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
          color:rgb(0, 0, 0);
          background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 19%, rgba(184,184,184,1) 68%, rgba(181,181,181,1) 70%, rgba(148,148,148,1) 100%);
          box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.61);
          border-right: 1px solid #ffffff;
          border-top: 1px solid #d5d5d5;
          user-select: none;
        }
        .botonBuscarPor .icon{
        margin-left: 8px;
        font-size: 1.3rem;
        }
        .botonBuscarPor:hover{
                    padding: 3px 6px;
        background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(184,184,184,1) 17%, rgba(246,246,246,1) 57%, rgba(239,239,239,1) 100%);
        color: var(--azulClaro);
        }

        .botonBuscarPor:active{
            font-size: 0.85rem;
        }






/* TODO: FIN ----- BOTONES CRUD ======================================================*/



/*========================================================================= /
                                  RESPONSIVE
========================================================================= /
/ Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 1020px) {
      html,input{
          font-size: 20px; /* elemento padre;*/
      }
      .contenedor{
        flex-direction: row;
      }
      .contenedor nav{
        position:  fixed;
        width: 45px;
        height: 100%;
        border: 1px solid var(--colorDos);
        display: inherit; /*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO**/
      }
      .contenedor nav ul{
        flex-direction: column;
        width: 100%;
        /* display: block !important; */
      }

      .contenedor > nav > .menuUsuario{
      display: none !important;
      }

      .contenedor  nav li{
        width: 45px;
      }
      .contenedor  nav li li{
        width: 150px;
      }

      .contenedor > nav > ul >  li > a  .texto{
        display:none;
      }
      .contenedor nav > ul{
        /* flex-direction: column;
        width: 100%; */
        display: block !important;
      }
      /* TODO: ----------------------------- Icono */
      .contenedor nav ul li a .icono{

          line-height: 35px;
          text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px !important;


      }

      .contenedor nav ul li  .icono.izquierda{
         margin-right: 10px;
         text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
      }

       nav ul li  .icono.derecha{
          display: none;
      }

      .contenedor nav ul li  .icono.derecha2{
        display:table;
        margin-top: -35px;
        margin-left:  18px;
      }
      /* ------------------------------------------------------ */

      .contenedor nav ul ul{
        display: none ;
        top:0px;
        left: 45px;
        width: 200px;
      }


      /*====================================================================== */
      /* TODO:INICIO ----- MENU  HEADER TABLET */
      /*======================================================================= */
      .contenedor .contenedorAdmin .headerTablet{
        width: 100%;
        font-weight: bold;
        background-color: var(--colorUno);
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000;
      }
      .contenedorAdmin > .headerTablet > ul {
            display: flex;
      }
      .contenedorAdmin  .headerTablet li{
          line-height: 35px;  /* altura del menu*/
          list-style: none;
          position: relative; /* TODO: PADRE  para que los subMenus salga de la maquetacion*/
          background-color: var(--colorUno);
      }

      .contenedorAdmin .headerTablet > ul > li{
        border-left: 1px solid var(--colorDos);
      }


      .contenedorAdmin .headerTablet > ul .activado > a{
        /* estilo para el active submenu  */
       background-color: #1b86a1;
      }




      .contenedorAdmin  .headerTablet li ul{
          position: absolute; /*TODO: HIJO  para que los subMenus salga de la maquetacion*/
          display: none;
      }


      .contenedorAdmin  .headerTablet a {
            text-decoration: none;
            color: #ffffff;
            padding-right: 50px;
            padding-left: 10px;
            display: block;
            text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;

      }

      .contenedorAdmin  .headerTablet a:hover{
           background-color: var(--colorDos);

      }
      /* TODO:  Icono */
      .contenedorAdmin .headerTablet ul li a .icono{
          font-size: 12px;
          font-weight: bold;
          line-height: 35px;
          text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;

      }

      .contenedorAdmin .headerTablet ul li  .icono.izquierda{
         margin-right: 10px;
         text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
      }

       .headerTablet ul li  .icono.derecha{
        margin-left: 10px;
        text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
      }

      .headerTablet ul li  .icono.derecha2{
        display: none;
      }
      .contenedorAdmin  .headerTablet   .contAvatar{
        display:flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;

      }


      .contenedorAdmin  .headerTablet ul  .icono.izquierda.estadoUser{
          background-image: url("./../img/icons/accept.png");
          background-repeat: no-repeat;
          padding-left: 25px;
          padding-top: 3px;
          background-size: 17px 17px;
          /* background-color: tomato; */

      }
      .contenedorAdmin  .headerTablet .contAvatar:hover{
           background-color: var(--colorDos);
      }


      .contenedorAdmin  .headerTablet   .avatar{
        border-radius: 50%;
        /* background-size: 100% auto; */
        height: 50px;
        width: 50px;
        padding: 0px;
        border:2px solid #fff;
        display: block;
        margin-right: 10px;
      }

      /*  MENU segundo Nivel---------------------------*/

      .contenedorAdmin .headerTablet li li{
        /* background-color: var(--colorTres); */
        width: 180px;
      }

      .contenedorAdmin .headerTablet li li a{
        background-color: var(--colorDos);
      }
      .contenedorAdmin .headerTablet li li a:hover{
        background-color: var(--colorTres);
      }
/*  FIN ----- MENU  HEADER TABLET */



/* CUERPO  */
.contenedor .contenedorAdmin{
  margin-top:0px;
  /* background-color: steelblue; */
  margin-left: 47px;
}
.contenedor .contenedorAdmin .contenido{
  margin-top:36px;
  background-color: yellowgreen

}


}

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
  .contenedor{
    flex-direction: column;
  }
  .contenedor nav{
    display: flex;
    flex-direction: column;
    position: inherit;
    /* border: 1px solid var(--colorDos); */

  }

  .contenedor nav .barMenu{
  display: block;
  position: fixed;
  height: 35px;
  width: 100%;
  font-size: 18px;
  line-height: 35px;
  background-color: var(--colorUno);
  border-bottom: 1px solid var(--colorDos);
  }

  .contenedor nav .barMenu .icono.icon.icon-menu {
    float: right;
    margin-right: 26px;
    margin-top: 8px;
    font-size: 21px;
  }

  .contenedor nav ul{
    flex-direction: column;
    width: 100%;
    margin-top:36px;
    display: none;
  }
  .contenedor  nav li{
    width: 100%;
    position: inherit;  /* mostrar submenu en su bloque*/

  }


  .contenedor > nav > ul >  li > a  .texto{
    display:block;
  }
  /* TODO: ---------------------------------- Icono */

  .contenedor nav ul li  .icono.izquierda{
     float: left;
     margin-top: -1px;
     margin-left: -3px;
     text-shadow: rgb(142, 142, 142) -0.5px -0.5px 1px;
  }
  .contenedor nav ul li  a .icono.derecha{
      float: right;
       margin-top: -35px;
  }
  .contenedor nav ul li  .icono.derecha2{
    display:none;
  }
  /* ------------------------------------------------------ */

  .contenedor nav ul ul{
    display: none;
    position: inherit;  /* mostrar submenu en su bloque*/
    margin-top: 0px;
  }
  .contenedor nav   li ul li {
    width: 100%;
  }
  .contenedor nav   li ul li a {
    padding-left: 40px;
  }

  .contenedor nav .menuUsuario {
    /* display: block; /*============================================================================*/
    border-top: 1px solid var(--colorTres);
    border-bottom: 1px solid var(--colorTres);
  }

  .contenedor nav .menuUsuario  li a .icono.izquierda.estadoUser{
      float: none;
  }

  .contenedor nav .menuUsuario  li a .icono.derecha{
      float: right;
      margin-right: 1px;
      margin-top:0px;
  }
  .contenedor .contenedorAdmin{
    /* background-color: steelblue; */
      background:url(./../img/backgrounds/bodyBg.png) repeat #fff;
    padding-top: 36px;
    margin-top: 0px;
    /* margin-left: 48px; */
  }

  /* CUERPO  */
  .contenedor .contenedorAdmin{
    /* margin-top:0px; */
  }
}

/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media  (min-width: 1020px) {

  .contenedor > nav > ul {
      /* display: block !important ; */
        display: flex !important;
  }
}
