
:root{
  /* de  claro a oscuro*/
  --colorUno:#49cced;
  --colorDos: #41bedd;
  --colorTres: #36a8c5;


  --colorCuatro:#b94a48; /*importante*/
/* background-color: var(--MiColor); */
--colorCampoImportante:rgb(223, 30, 30);

/*Formularios*/
--bordeForm:#cdcdcd;
--cabeceraForm:#efefef;
--contenidoForm:#F9F9F9;
--pieForm:#f5f5f5;
--bordeFormTopPie:#e5e5e5;

/* =========botones */
--botonVerde:#51a351;
--botonVerdeHover:#468847;
--amarillo:#F89406;
--amarilloImportante:#f7efa7;
--rojo:#B94A48;
--azul:#3A87AD;
--azulClaro:#0044CC;
--negro:#333333;
--plomo:#999999;
--plomoClaro:#E6E6E6;
/*----------------------*/

/*coilor icono PANEL ADMIN*/
--colorIco:#545F67;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; /* relleno y borde estan incluidos en el ancho de los elemntos*/
  text-decoration: none;
  list-style: none;
}


body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 20px; /*espacio  top y bootom en las letras*/
  min-width: 200px;
  word-wrap: break-word;

  /* min-height: 100vh; */ */
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-bottom: 0px;
}
html,input{
    font-size: 16px; /* elemento padre;*/
}
